---
http_interactions:
- request:
    method: get
    uri: https://api.apphera.com/1/organizations?api_key=63ad4581c8746c06b511b3fe50f4ace5&cat_id=135&geo=53.66,10.1154
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0a3c74345a84e27944070ba3bc6309b6"'
    body:
      encoding: UTF-8
      string: ! '{"response":[{"id":282,"name":"Shin Shin","distance":0.000114539413635058,"street":"Saseler
        Chaussee 254","postalcode":"20249","city":"Hamburg","phone":"123123123"},{"id":33536,"name":"Shin-shin
        - China Restaurant Restaurant","distance":0.00490648623804628,"street":"Saseler
        Chaussee 254","postalcode":"22393","city":"Hamburg","phone":"(0 40) 6 01 11
        86"},{"id":33392,"name":"Chinatown Dragon","distance":1.30828013244524,"street":"Meiendorfer
        M\u00fchlenweg 35","postalcode":"22393","city":"Hamburg","phone":"(0 40) 6
        01 56 63"},{"id":33286,"name":"Zhuo Yi Chinarestaurant","distance":1.37625087693558,"street":[...]
