---
http_interactions:
- request:
    method: post
    uri: https://api.apphera.com/1/keywords/create?api_key=987634f072b7c51db349bda9fd5cd6da
    body:
      encoding: UTF-8
      string: keyword=ruby%20testing
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"627d44222eb29df3eb988c5faeac89c7"'
    body:
      encoding: UTF-8
      string: ! '{"response":{"keyword":"ruby testing","id":551,"first_check":"2012-08-02T22:11:58+00:00"}}'
  recorded_at: Wed, 01 Aug 2012 22:12:02 GMT
recorded_with: VCR 2.2.4
