---
http_interactions:
- request:
    method: post
    uri: https://api.apphera.com/1/keywords/create?api_key=63ad4581c8746c06b511b3fe50f4ace5
    body:
      encoding: UTF-8
      string: keyword=ruby%20testing
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c5e3b3c860ac5edfecd6896a25c801a5"'
    body:
      encoding: UTF-8
      string: ! '{"response":{"keyword":"ruby testing","id":551,"first_check":"2012-08-04T01:13:49+00:00"}}'
  recorded_at: Fri, 03 Aug 2012 01:13:49 GMT
recorded_with: VCR 2.2.4
