---
http_interactions:
- request:
    method: get
    uri: https://api.apphera.com/1/keywords?api_key=987634f072b7c51db349bda9fd5cd6da
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5a65190ea6aaeb838d0f0dd84f2a7ac3"'
    body:
      encoding: UTF-8
      string: ! '{"response":[{"created_at":"2012-08-01T06:19:50Z","id":550,"name":"berliner
        bubbletea","updated_at":"2012-08-01T06:19:50Z"},{"created_at":"2012-08-01T06:19:50Z","id":550,"name":"berliner
        bubbletea","updated_at":"2012-08-01T06:19:50Z"},{"created_at":"2012-08-01T06:19:50Z","id":550,"name":"berliner
        bubbletea","updated_at":"2012-08-01T06:19:50Z"}],"count":3}'
  recorded_at: Wed, 01 Aug 2012 22:00:42 GMT
recorded_with: VCR 2.2.4
