---
http_interactions:
- request:
    method: get
    uri: https://api.apphera.com/1/keywords?api_key=63ad4581c8746c06b511b3fe50f4ace5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"513c46deb9a01ae96f6b5079f64a6f4e"'
    body:
      encoding: UTF-8
      string: ! '{"response":[{"created_at":"2012-08-01T22:11:58Z","id":551,"name":"ruby
        testing","updated_at":"2012-08-01T22:11:58Z"}],"count":1}'
  recorded_at: Fri, 03 Aug 2012 01:15:02 GMT
recorded_with: VCR 2.2.4
