---
http_interactions:
- request:
    method: get
    uri: https://api.apphera.com/1/reviews?api_key=63ad4581c8746c06b511b3fe50f4ace5&organization_id=282&review_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"34359fb0bb5339f7f217d331f9a596a1"'
    body:
      encoding: UTF-8
      string: ! '{"response":[{"id":5938,"organization_id":282,"reviewer":"trishh","reviewer_slug":"http://www.qype.com/people/trishh","reviewer_image":"http://assets2.qypecdn.net/uploads/users/0045/4303/n732605636_9452_original_thumb.jpg","body":"Ein
        klassischer Chinese wie man ihn von fr\u00fcher kennt. Extrem kitschig eingerichtet.
        Sehr lecker!","title":null,"review_date":"2012-04-29","rating":4.0,"content_provider":"Qype
        Germany"},{"id":5939,"organization_id":282,"reviewer":"234NCM","reviewer_slug":"http://www.qype.com/people/234NCM","reviewer_image":"http://assets2.qypecdn.net/images/default_avatar/user_icon_64x64.png","body":"Wie
        viele vor mir schrieben: Ich war im letzten Herbst mit einer Freundin das
        erste Mal nach mindestens 25 Jahren da! K\u00f6nnt Ihr Euch wirklich nicht
        mehr erinnern? Es hat sich NICHTS ver\u00e4ndert. Omi begr\u00fc\u00dft und
        h\u00e4lt die [...]
