---
http_interactions:
- request:
    method: get
    uri: https://api.apphera.com/1/keywords/550?api_key=63ad4581c8746c06b511b3fe50f4ace5
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"8e28eeb0a477fd94ac515e8acd413792"'
    body:
      encoding: UTF-8
      string: ! '{"response":[{"date":"2012-08-01T06:21:35+00:00","keyword_id":550,"keyword":"berliner
        bubbletea","results":[{"ranking":1,"link_text":"Bubble''s Tea Bar - Mitte,
        Berlin - Bubble Tea","link":"http://www.qype.com/place/1774041-Bubbles-Tea-Bar-Berlin"},{"ranking":2,"link_text":"Bubble
        Tea in Berlin | Tipps auf Qype","link":"http://www.qype.com/de300-berlin/categories/1354-bubble-tea-in-berlin"},{"ranking":3,"link_text":"Bubble
        Tea in Berlin: Die besten L\u00e4den f\u00fcrs Kultgetr\u00e4nk | berlin blog","link":"http://berlin.germanblogs.de/archive/2011/08/03/bubble-tea-in-berlin-die-besten-laeden-fuers-kultgetraenk.htm"},{"ranking":4,"link_text":"boobuk
        - the [...]
